extends layout

block content
    div.container
        h1= title
        p Welcome to #{title}
        p Login or Register with:
        p
            a(href="/login") Login
        p
            a(href="/register") Register