doctype html
html
    head
        title= title
        //https://bootswatch.com/flatly/
        link(href="https://bootswatch.com/4/flatly/bootstrap.min.css", rel="stylesheet")
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="/javascripts/jquery.min.js")
    body
        include nav
        block content


