extends layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 Restaurant Item

                // register form
                form(method='POST' action='/menu/post')

                    div.form-group
                        label Name:
                        input.form-control(type='text', name='name')
                        label Description:
                        textarea(name='description')
                        label.checkbox-inline
                        strong Allergies:
                            each row in allergies
                                input(type="checkbox", name=row.name, value=row.id)
                                span=row.name
                    button.btn.btn-primary(type='submit') Add
    style(type='text/css').
        #plus {
            float: left;
            cursor: pointer;
        }

        button {
            clear: both;
            display: block;
        }