extends layout

block content
    div.bgempty
        div.container.h-100
            div.row.h-100.justify-content-center.align-items-center
                div.col-md-6.inline
                    span.h1 My Menu
                    a.btn.btn-info.btn-lg(href="/menu" role="button") Add Item

                    table.table
                        thead
                            tr
                                th(scope="col") Name
                                th(scope="col") Description
                                th(scope="col") Allergies
                        tbody
                            each food in data
                                tr
                                    td
                                        a(href="/menu/" + food.id) #{food.name}
                                    td #{food.description}
                                    -var statData = JSON.stringify(food.allergyNames)
                                    td #{statData}

    style(type='text/css').
        button {
            clear: both;
            display: block;
        }